*.class
.metadata/
.recommenders/
xstream-1.4.8/
AddressBook/
jacob-1.18/
lib/
SSuiteAddressBookPro2/
swingspy/
	
RemoteSystemsTempFiles/
*/test-output/
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
